
         body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
        background: linear-gradient(to right, rgba(49,33,50,1), rgba(2,2,4,1));
      }


      #m-page{
        text-decoration: none;
        bottom: 0;
        transition: background 0.3s ease-in-out;
        
      }
      
      #redirect:hover{
        background-color: #95ee7a;
      }
      
      #redirect{
        height: 50px; 
        width: 100px;
        background-color: #caf3be;
        padding: 5px;
        /* margin: 30px auto; */
       
        color: black;
        font-weight: 200;
      }
      
      
      .container {
        max-width: 90vw; /* Use viewport width for better responsiveness */
        margin: 20px auto; /* Maintain center alignment */
        background: #fff;
        padding:0px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #3b2e3b;
        color: white;
      }
      
      h1 {
        text-align: center;
        color: white;
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color:#45394b;
      }
      
      th, td {
        padding: 10px;
        border: 1px solid #2f2c31;
        text-align: left;
        
      }
      
      button {
        padding: 5px 10px;
        border-radius: 5px;
       background-color: #caf3be;
        color: black;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #95ee7a;
      }
      
      .reject-btn {
        background-color: #f2c3bc;
      }
      
      .reject-btn:hover {
        background-color:#f08f80;
      }
      
      .voice-btn {
        background-color: #caf3be;
        color: white;
        border-radius: 35%;
        border: none;
        width: 60px;
        height: 30px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      
      .voice-btn:hover {
        background-color:#95ee7a;
      }
      
      .description-box {
        margin-top: 10px;
      }
      
      /* Media Queries for Responsiveness */
      @media (max-width: 768px) {
      
        table {
          font-size: 0.9em; 
          display: block;
          overflow-x: auto;
        }
      
        
       
        button {
          padding: 4px 8px; 
        }
      }
      
      @media (max-width: 480px) {
        
        table {
          font-size: 0.8em;
        }
      
       
        button {
          padding: 3px 6px; 
        }
      }
    
