<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managerial Leave Review</title>
    <link rel="stylesheet" href="/static/css/manager.css">
</head>
<body>
   <div class="redirect">
    <a href="https://voice-leave-app.onrender.com/voice_application" id="m-page">
        <button id="redirect">
          Apply leave
        </button>
      </a>
   </div>
    <div class="container">
        <h1>Leave Applications</h1>
        <table id="applications-table">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Leave Type</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Leave applications will be dynamically inserted here -->
            </tbody>
        </table>
    </div>

    

    <script src="/static/js/manager.js"></script>
</body>
</html>
